enter new student info
<hr> 
<% if @students.errors.any? %>
    
<div id="error_explanation">
  
    <h2>
<%= pluralize(@students.errors.count, "error") %> prohibited this post from being saved:</h2>


      <ul>
      <% @students.errors.full_messages.each do |msg| %>
    
    <li><%= msg %></li>
   
   <% end %>
  
    </ul>
    
</div>
  
<% end %>


<%=  form_for(@students) do |f| %>
     firstname: <%= f.text_field :firstname %><br />
     lastname: <%= f.text_fields :lastname %><br />
     <%= f.submit %>
<% end %>
<hr >
Display all students' information <br />
<% if !@students.blank? %>
   <% for item in @students %>
        <%= item.firstname %> <%= item.lastname %><br />
       <% end %>
     <% else %>
<% end %>

