<div style="position:relative; left:350px; top:150px; " class="showm" >
<p id="notice">
<%= notice %></p>


<p>
  <b class="showthing" >Name:</b>
 
 <%= @post.name %>
</p>


<p>
  <b class="showthing" >Title:</b>
 
 <%= @post.title %>
</p>


<p>
  <b class="showthing" >Content:</b>
 
 <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |

<%= link_to 'Back', posts_path %>
 |
</div>